{% extends 'base.html' %}

{% block title %}
    <h1>Welcome to Ali's Blog</h1>
{% endblock %}

{% block content %}
    <section class="one">
        <h1> Cours Python</h1>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid beatae doloremque eum fugit minus nostrum rerum, ullam voluptas voluptate? Dignissimos, eligendi eos nam nobis omnis reiciendis rerum soluta tempora veritatis.</p>
    </section>

    <section class=""two>
        <h1> Cours Django</h1>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid beatae doloremque eum fugit minus nostrum rerum, ullam voluptas voluptate? Dignissimos, eligendi eos nam nobis omnis reiciendis rerum soluta tempora veritatis.</p>
    </section>

    <section class="three">
        <h1> Cours DevOps</h1>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid beatae doloremque eum fugit minus nostrum rerum, ullam voluptas voluptate? Dignissimos, eligendi eos nam nobis omnis reiciendis rerum soluta tempora veritatis.</p>
    </section>
{% endblock %}

